<. include!("../components/headers/index.html"); .>
<. include!("./navbar/index.html"); .>
<div class="tmp-layout">
<. include!("./header/index.html"); .>
<main class="panel-main">
  <. include!("./help-banner/index.html"); .>
  <div class="inner-container">

      <. if sitekeys.is_empty() { .>
    <ul class="sitekey-list__box">
        <p> 
            It looks like you don't have any sitekeys. Click 
                <a href="<.= crate::PAGES.panel.sitekey.add .>">here></a> to add new sitekey.
        </p>
    </ul>


      <.} else {.>
    <ul class="sitekey-list__box">
      <h1 class="sitekey-list__title">Your Sitekeys</h1>
      <. for sitekey in sitekeys.iter() { .>
      <a href="/sitekey/<.= sitekey.key .>/view" class="sitekey-list__item-container">
        <li class="sitekey-list__item">

          <span class="sitekey-list__name">
            <.= sitekey.name .>
          </span>
          <span class="sitekey-list__key">
            <.= sitekey.key .>
          </span>
        </li>
      </a>

      <. } .>
    </ul>

      <.}.>

  </div>
<. include!("../components/footers.html"); .>
