<. include!("../components/headers/index.html"); .> <.
include!("./navbar/index.html"); .>
<div class="tmp-layout">
  <. include!("./header/index.html"); .>
  <main class="panel-main">
    <. include!("./help-banner/index.html"); .>
    <div class="inner-container">
      <. if sitekeys.is_empty() { .>
      <ul class="sitekey-list__box">
        <p>
          It looks like you don't have any sitekeys. Click
          <a href="<.= crate::PAGES.panel.sitekey.add .>">here</a> to add new
          sitekey.
        </p>
      </ul>

      <.} else {.>

      <table class="sitekey__table">
        <thead class="sitekey__table-heading">
          <tr>
            <th colspan="4" class="sitekey__table-title-text">
              Your Sitekeys
            </th>
          </tr>
        </thead>
        <tbody class="sitekey__body">
          <. for sitekey in sitekeys.iter() { .>
          <tr class="sitekey__item">
            <td class="sitekey-list__name">
              <a
                href="/sitekey/<.= sitekey.key .>/"
                class="sitekey-list__sitekey-link"
              >
                <.= sitekey.name .>
              </a>
            </td>
            <td class="sitekey-list__key">
              <div class="sitekey__key-container">
                <img class="sitekey__copy-icon" src="<.= crate::FILES
                .get("./static/cache/img/svg/clipboard.svg") .unwrap() .>"
                alt="copy sitekey" data-sitekey="<.= sitekey.key .>" /> <img
                class="sitekey__copy-done-icon" src="<.= crate::FILES
                .get("./static/cache/img/svg/check.svg") .unwrap() .>"
                alt="sitekey copied" data-sitekey="<.= sitekey.key .>" />
                <a
                  class="sitekey__widget-link"
                  href="<.= crate::WIDGET_ROUTES.verification_widget .>/?sitekey=<.= sitekey.key .>"
                >
                  <.= &sitekey.key[0..5] .>
                </a>
              </div>
            </td>
            <td class="sitekey-list__key">
				<div class="sitekey-list__edit">
                    <. let key = format!("/sitekey/{}", &sitekey.key); .>
					<. include!("./sitekey/view/__edit-sitekey-icon.html"); .>
				</div>
            </td>
          </tr>
          <. } .>
        </tbody>
      </table>

      <.}.>
    </div>
    <. include!("../components/footers.html"); .>
  </main>
</div>
