<. include!("../../components/headers.html"); .>
<main class="auth-main">
  <div class="auth-inner-container">

    <img src="<.=
    crate::FILES.get("./static-assets/img/icon-trans.png").unwrap().>"
    class="auth__logo" alt="mcaptcha logo" />

  <form
    class="sitekey-form"
    method="POST"
    action="<.= crate::V1_API_ROUTES.auth.login .>"
    id="form"
  >
    <h1 class="form__title">
      Signin to mCaptcha
    </h1>
    <label class="sitekey-form__label" for="username">
      Username
      <input
        class="sitekey-form__input"
        type="text"
        name="username"
        id="username"
        required
      />
    </label>

    <label class="sitekey-form__label" for="duration">
      Password
      <input
        class="sitekey-form__input"
        type="password"
        name="password"
        id="password"
        required
      />
    </label>

    <input type="submit" class="sitekey-form__submit" value="Sign in" />
  </form>
    <p class="auth__secondary-action__banner">
      New to mCaptcha?
      <a 
		  href="<.= crate::PAGES.auth.join .>"
		  class="auth__secondary-action__link">
		  Create an account
	  </a>
    </p>
  </div>

</main>

<. include!("../../components/footers.html"); .>
