<. include!("../../components/headers.html"); .>
<div class="form-container">
    <img src="<.= crate::FILES.get("./static-assets/img/icon-trans.png").unwrap().>" class="form__logo" alt="" />
  <h2 class="form__brand">Sign in to mCaptcha</h2>

  <form method="POST" action="<.= crate::V1_API_ROUTES.auth.login .>" class="form__box" id="form">
    <label class="form__in-group" for="username"
      >Username
      <input
        class="form__in-field"
        id="username"
        type="text"
        name="username"
        required=""
      />
    </label>

    <label for="password" class="form__in-group"
      >Password
      <input
        class="form__in-field"
        type="password"
        id="password"
        name="password"
        required=""
      />
      <!--
          <a class="form__pw-recovery" -href="/recovert/password"
            >Forgot password?</a
          >
          -->
    </label>
    <button class="form__submit-button" type="submit">
      Submit
    </button>
  </form>
  <div class="form__secondary-action">
    <p class="form__secondary-action__banner">
      New to mCaptcha?
      <a href="/join" class="form__secondary-action__link"
        >Create account</a
      >
    </p>
  </div>
</div>
<. include!("../../components/footers.html"); .>
