<. include!("../../components/headers/index.html"); .>
<div class="tmp-layout">
<main class="auth-main">
  <div class="auth-inner-container">

	  <. include!("../logo.html"); .>
    
  <form
    class="sitekey-form"
    method="POST"
    action="<.= crate::V1_API_ROUTES.auth.login .>"
    id="form"
  >
    <h1 class="form__title">
      Signin to mCaptcha
    </h1>
    <label class="sitekey-form__label" for="login">
      Username or email address
      <input
        class="sitekey-form__input"
        type="text"
        name="login"
        id="login"
        required
      />
    </label>

    <label class="sitekey-form__label" for="password">
      Password
      <input
        class="sitekey-form__input"
        type="password"
        name="password"
        id="password"
        required
      />
      <. include!("../../components/showPassword/index.html"); .>
	</label>

    <input type="submit" class="sitekey-form__submit" value="Sign in" />
  </form>
    <p class="auth__secondary-action__banner">
      New to mCaptcha?
      <a 
		  href="<.= crate::PAGES.auth.join .>"
		  class="auth__secondary-action__link">
		  Create an account
	  </a>
    </p>
  </div>
<. include!("../../components/footers.html"); .>
