/*
 * SPDX-FileCopyrightText: 2023 Aravinth Manivannan <realaravinth@batsense.net>
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

* {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f0f0f0;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 450px;
  margin: auto;
}

h1 {
  align-self: center;
}
