<fieldset class="sitekey-form__level">
  <legend>Level <.= level .></legend>
  <label class="sitekey-form__level-fieldname" for="visitor<.= level .>"
    >Visitor
    <input
      class="sitekey-form__number-filed"
      type="number"
      name=""
      value=""
      id="visitor<.= level .>"
    />
  </label>

  <label class="sitekey-form__level-fieldname" for="difficulty<.= level .>">
    Difficulty
    <input
      type="number"
      name="difficulty"
      class="sitekey-form__number-filed"
      value=""
      id="difficulty<.= level .>"
    />
  </label>
  <input
    class="sitekey-form__add-level-button"
    type="button"
    name="add"
    id="add"
    value="Add"
  />
</fieldset>
