<form class="sitekey-form" action="/something" method="post">
  <div class="sitekey-form__title-flex-container">
    <b class="sitekey-form__title"><.= form_title .></b>
  </div>
  <div class="sitekey-form__add-level-flex-container">
    <label class="sitekey-form__label" for="description">Description</label>
  </div>
  <input
    class="sitekey-form__input"
    type="text"
    name="description"
    id="description"
    value="<.= form_description .>"
  />

  <. for level in 1..=levels { .>
    <. if level == levels { .>
    <. include!("./add-level.html"); .> 
    <. } else { .> 
    <. include!("./existing-level.html"); .> 
    <. } .> 
  <. } .>

  <button class="sitekey-form__submit" type="submit">Submit</button>
</form>
