<form class="sitekey-form" action="<.= crate::V1_API_ROUTES.levels.add .>" method="post">
	<h1 class="form__title">
		<.= form_title .>
	</h1>
    <label class="sitekey-form__label" for="description">
		Description
	  <input
		class="sitekey-form__input"
		type="text"
		name="description"
		id="description"
		required
		value="<.= form_description .>"
	  />
	</label>

  <. for level in 1..=levels { .>
    <. if level == levels { .>
    <. include!("./add-level.html"); .> 
    <. } else { .> 
    <. include!("./existing-level.html"); .> 
    <. } .> 
  <. } .>

  <button class="sitekey-form__submit" type="submit">Submit</button>
</form>
