<nav class="secondary-menu">
	<input type="checkbox" class="nav-toggle" id="nav-toggle" >
  <div class="secondary-menu__heading">
	  <a  class="novisit" href="/">
    <img class="secondary-menu__logo" src="<.= crate::FILES.get("./static/cache/img/icon-trans.png").unwrap() .>" alt="Logo" />
    </a>
    <a href="/" class="secondary-menu__brand-name">
      mCaptcha
    </a>
	<label class="nav__hamburger-menu"for="nav-toggle">
      <span></span>
      <span></span>
      <span></span>
    </label>
  </div>
  <ul class="secondary-menu__list">
    
    <!--
          <li class="secondary-menu__section-partition"></li>
          -->
    <li class="secondary-menu__item">
        <a class="secondary-menu__item-link" href="<.= crate::PAGES.home .>">
        <img class="secondary-menu__icon" src="<.= crate::FILES.get("./static/cache/img/svg/home.svg").unwrap() .>" alt="" />
        <div class="secondary-menu__item-name">
          Overview
        </div>
      </a>
    </li>
    <li class="secondary-menu__item">
        <a class="secondary-menu__item-link" href="<.= crate::PAGES.panel.sitekey.list .>">
        <img class="secondary-menu__icon" src="<.= crate::FILES.get("./static/cache/img/svg/key.svg").unwrap() .>" alt="" />
        <div class="secondary-menu__item-name">
          Site Keys
        </div>
      </a>
    </li>

    <li class="secondary-menu__item">
      <a class="secondary-menu__item-link" href="">
        <img class="secondary-menu__icon" src="<.= crate::FILES.get("./static/cache/img/svg/settings.svg").unwrap() .>" alt="" />
        <div class="secondary-menu__item-name">
          Settings
        </div>
      </a>
    </li>
    <li class="secondary-menu__item">
      <a class="secondary-menu__item-link" href="">
        <img class="secondary-menu__icon" src="<.= crate::FILES.get("./static/cache/img/svg/credit-card.svg").unwrap() .>" alt="" />
        <div class="secondary-menu__item-name">
          Billing
        </div>
      </a>
    </li>
    <li class="secondary-menu__item">
      <a class="secondary-menu__item-link" href="">
        <img class="secondary-menu__icon" src="<.= crate::FILES.get("./static/cache/img/svg/help-circle.svg").unwrap() .>" alt="" />
        <div class="secondary-menu__item-name">
          Help
        </div>
      </a>
    </li>
    <li class="secondary-menu__item">
      <a class="secondary-menu__item-link" href="">
        <img
          class="secondary-menu__icon"
		  src="<.= crate::FILES.get("./static/cache/img/svg/message-square.svg").unwrap() .>"
          alt=""
        />

        <div class="secondary-menu__item-name">
          Support
        </div>
      </a>
    </li>
    <li class="secondary-menu__item">
        <a class="secondary-menu__item-link" href="<.= crate::DOCS.home .>">
        <img class="secondary-menu__icon" src="<.= crate::FILES.get("./static/cache/img/svg/file-text.svg").unwrap() .>" alt="" />
        <div class="secondary-menu__item-name">
          API Docs
        </div>
      </a>
    </li>
    <li class="secondary-menu__item">
        <a class="secondary-menu__item-link" href="<.= crate::SETTINGS.source_code .>">
        <img class="secondary-menu__icon" 
		src="<.= crate::FILES.get("./static/cache/img/svg/github.svg").unwrap() .>" alt="GitHub Icon" />
        <div class="secondary-menu__item-name">
          Source Code
        </div>
      </a>
    </li>
  </ul>
</nav>
<!-- Nav/Side/Secondary bar -->
