<!--
SPDX-FileCopyrightText: 2023 Aravinth Manivannan <realaravinth@batsense.net>

SPDX-License-Identifier: AGPL-3.0-or-later
-->

</h1>
<label class="sitekey-form__label" for="description">
    Description
  <input
    <. if READONLY { .>
      <.= "readonly='readonly'" .>
    <. } .>
    class="sitekey-form__input"
    type="text"
    name="description"
    id="description"
    required
    <. if !name.trim().is_empty() { .>
    value="<.= name .>"
    <. } .>
  />
</label>
<label class="sitekey-form__label" for="duration">
    Cooldown Duration(in seconds)
  <input
    <. if READONLY { .>
    <.= "readonly='readonly'" .>
    <. } .>
    class="sitekey-form__input"
    type="number"
    name="duration"
    id="duration"
    min=0
    required
    value="<.= duration .>"
  />
</label>
