<. include!("../../../components/headers/widget-headers.html"); .> 
<body class="layout">
<. include!("../../navbar/index.html"); .>
<div class="tmp-layout">
<. include!("../../header/index.html"); .>
<main class="panel-main">
  <. include!("../../help-banner/index.html"); .>
  <!-- Main content container -->
  <div class="inner-container">
    <!-- Main menu/ important actions roaster -->
    <form class="sitekey-form" action="<.= URL .>" method="post">
	  <h1 class="form__title">Sitekey: <.= name .> 
        <a 
          target="_blank"
		  href="<.= crate::WIDGET_ROUTES.verification_widget .>/?sitekey=<.= key.>"
        >View deployment
          <img class="sitekey-form__widget-link" 
            src="<.= crate::FILES.get("./static/cache/img/svg/external-link.svg").unwrap() .>"
            alt="View widget deployment" 
          />
        </a> 
        <. if READONLY { .>
			<. let key = "."; .>
            <. include!("./__edit-sitekey-icon.html"); .>
            <a href="./delete/">
        <. } else {  .>
            <a href="../delete/">
        <. } .>
          <img class="sitekey-form__delete" 
               src="<.= crate::FILES.get("./static/cache/img/svg/trash.svg").unwrap() .>"
               alt="Delete sitekey" 
          />
        </a>
	  </h1>
      <label class="sitekey-form__label" for="description">
          Description
        <input
          <. if READONLY { .>
            <.= "readonly='readonly'" .>
		  <. } .>
          class="sitekey-form__input"
          type="text"
          name="description"
          id="description"
          required
          <. if !name.trim().is_empty() { .>
          value="<.= name .>"
          <. } .>
        />
      </label>
      <label class="sitekey-form__label" for="duration">
          Cooldown Duratoin(in seconds)
        <input
		  <. if READONLY { .>
		  <.= "readonly='readonly'" .>
		  <. } .>
          class="sitekey-form__input"
          type="number"
          name="duration"
          id="duration"
          min=0
          required
          value="<.= duration .>"
        />
      </label>
