<ul class="task-bar">
  <!--
        <li class="task-bar__action">Brand Name</li>
        -->
  <li class="task-bar__spacer"></li>
  <li class="task-bar__action">
      <a class="task-bar__link" href="/sitekey/add">
        <button class="main-menu__add-site">
            + New Site
        </button>
    </a>
  </li>
  <li class="task-bar__action">
    <img class="task-bar__icon" src="<.=
    crate::FILES.get("./static-assets/img/svg/moon.svg").unwrap() .>" alt="Profile" />
  </li>

  <li class="task-bar__action">
    <img class="task-bar__icon" src="<.=
    crate::FILES.get("./static-assets/img/svg/bell.svg").unwrap() .>"
    alt="Notifications" />
  </li>

  <li class="task-bar__action">
      <a href="/logout">
    <img class="task-bar__icon" src="<.=
    crate::FILES.get("./static-assets/img/svg/log-out.svg").unwrap() .>" alt="Profile"
    /></a>
  </li>
</ul>
