<ul class="task-bar">
  <!--
        <li class="task-bar__action">Brand Name</li>
        -->
  <li class="task-bar__spacer"></li>
  <li class="task-bar__action">
    <button class="main-menu__add-site">+ New Site</button>
  </li>
  <li class="task-bar__action">
    <img class="task-bar__icon" src="<.=
    crate::FILES.get("./static/img/svg/moon.svg").unwrap() .>" alt="Profile" />
  </li>

  <li class="task-bar__action">
    <img class="task-bar__icon" src="<.=
    crate::FILES.get("./static/img/svg/bell.svg").unwrap() .>" alt="Notifications" />
  </li>

  <li class="task-bar__action">
    <img class="task-bar__icon" src="<.=
    crate::FILES.get("./static/img/svg/log-out.svg").unwrap() .>" alt="Profile" />
  </li>
</ul>
