<div>
  <hr />
</div>
<footer role="contentinfo" class="details__container">
  <div class="details__row1">
    <p class="details__copyright-text">&copy; mCaptcha developers</p>
    <ul class="details">
      <li class="details__copyright"></li>

      <li class="details__item">
        <a class="details__link" href="<.= crate::PKG_HOMEPAGE .>">Homepage</a>
      </li>
      <li class="details__item">
        <a
          class="details__link"
          href="<.= crate::PKG_HOMEPAGE .><.= crate::PAGES.about .>"
          >About</a
        >
      </li>
      <li class="details__item">
        <a
          class="details__link"
          href="<.= crate::PKG_HOMEPAGE .><.= crate::PAGES.privacy .>"
          >Privacy</a
        >
      </li>
    </ul>
  </div>

  <ul class="details">
    <li class="details__item">
      <a
        class="details__link"
        href="<.= crate::PKG_HOMEPAGE .><.= crate::PAGES.security .>"
        >Security</a
      >
    </li>
    <li class="details__item">
      <a
        class="details__link"
        href="<.= crate::PKG_HOMEPAGE .><.= crate::PAGES.donate .>"
        >Donate</a
      >
    </li>

    <li class="details__item">
      <a
        class="details__link"
        href="<.= crate::PKG_HOMEPAGE .><.= crate::PAGES.thanks .>"
        >Thanks</a
      >
    </li>
    <li class="details__item">
      <a class="details__link" href="<.= &*crate::SOURCE_FILES_OF_INSTANCE .>">
        v<.= crate::VERSION .>-<.= crate::GIT_COMMIT_HASH[0..8] .>
      </a>
    </li>
  </ul>
</footer>
