<. include!("../../components/headers.html"); .>
<div class="form-container">
    <img src="<.= crate::FILES.get("./static-assets/img/icon-trans.png").unwrap().>" class="form__logo" alt="" />
  <h2 class="form__brand">Join mCaptcha</h2>

  <form method="POST" class="form__box" id="form">
    <label class="form__in-group" for="username"
      >Username
      <input
        class="form__in-field"
        id="username"
        type="text"
        name="username"
        id="username"
        required
      />
    </label>

    <label class="form__in-group" for="username"
      >Email(optional)
      <input
        class="form__in-field"
        id="email"
        type="email"
        name="email"
        id="email"
      />
    </label>

    <label for="password" class="form__in-group"
      >Password
      <input
        class="form__in-field"
        type="password"
        id="password"
        name="password"
        id="password"
        required
      />
    </label>

    <label for="password" class="form__in-group"
      >Re-enter Password
      <input
        class="form__in-field"
        type="password"
        id="password-check"
        name="password-check"
        id="password-check"
        required
      />
    </label>
    <button class="form__submit-button" type="submit">
      Submit
    </button>
  </form>
  <div class="form__secondary-action">
    <p class="form__secondary-action__banner">
      Already have an account?
      <a href="/login" class="form__secondary-action__link">Log in</a>
    </p>
  </div>
</div>
<. include!("../../components/footers.html"); .>
