<. include!("../../components/headers/index.html"); .>
<div class="tmp-layout">
<main class="auth-main">
  <div class="auth-inner-container">

    <img src="<.=
    crate::FILES.get("./static/cache/img/icon-trans.png").unwrap().>"
    class="auth__logo" alt="mcaptcha logo" />


  <form
	  method="POST"
	  action="<.= crate::V1_API_ROUTES.auth.register .>"
	  class="sitekey-form" id="form">
	<h1 class="form__title">
      Join mCaptcha
    </h1>

    <label class="sitekey-form__label" for="username"
      >Username
      <input
        class="sitekey-form__input"
        id="username"
        type="text"
        name="username"
        id="username"
        required
        autofocus="true"
      />
    </label>

    <label  class="sitekey-form__label" for="email"
      >Email(optional)
      <input
        class="sitekey-form__input"
        id="email"
        type="email"
        name="email"
        id="email"
      />
    </label>

    <label   class="sitekey-form__label"  for="password" 
		>Password
      <input
        class="sitekey-form__input"
        type="password"
        id="password"
        name="password"
        id="password"
        required
      />
	  <. include!("../../components/showPassword/index.html"); .>
	
    </label>

    <label for="password" class="sitekey-form__label"  for="password-check"
      >Re-enter Password
      <input
        class="sitekey-form__input"
        type="password"
        id="password-check"
        name="password-check"
        id="password-check"
        required
      />
	  <. include!("../../components/showPassword/index.html"); .>
    </label>
        <input type="submit" class="sitekey-form__submit" value="Sign up" />
  </form>
    <p class="auth__secondary-action__banner">
      Already have an account?
      <a href="<.= crate::PAGES.auth.login .>" class="auth__secondary-action__link">Log in</a>
    </p>
</div>
<. include!("../../components/footers.html"); .>
