<. include!("../components/headers.html"); .> <. include!("nav/index.html"); .>

<section class="page-content">
  <section class="search-and-user">
    <form>
      <input type="search" placeholder="Search Pages..." />
      <button type="submit" aria-label="submit form">
        <svg aria-hidden="true">
          <use xlink:href="#search"></use>
        </svg>
      </button>
    </form>
    <div class="admin-profile">
      <span class="greeting">Hello Batman</span>
      <div class="notifications">
        <span class="badge">1</span>
        <svg>
          <use xlink:href="#users"></use>
        </svg>
      </div>
    </div>
  </section>
  <section class="grid">
    <article></article>
    <article></article>
    <article></article>
    <article></article>
    <article></article>
    <article></article>
    <article></article>
    <article>


    </article>

  </section>
</section>

<. include!("../components/footers.html"); .>
