<. include!("../components/headers.html"); .> <.# include!("svg.html"); .>
<. include!("style.html"); .>
<. include!("nav/index.html"); .>

<section class="page-content">
  <section class="search-and-user">
    <form>
      <input type="search" placeholder="Search Pages..." />
      <button type="submit" aria-label="submit form">
        <svg aria-hidden="true">
          <use xlink:href="#search"></use>
        </svg>
      </button>
    </form>
    <div class="admin-profile">
      <span class="greeting">Hello admin</span>
      <div class="notifications">
        <span class="badge">1</span>
        <svg>
          <use xlink:href="#users"></use>
        </svg>
      </div>
    </div>
  </section>
  <section class="grid">
    <article></article>
    <article></article>
    <article></article>
    <article></article>
    <article></article>
    <article></article>
    <article></article>
    <article></article>
  </section>
  <footer class="page-footer">
    <span>made by </span>
    <a href="https://georgemartsoukos.com/" target="_blank">
      <img
        width="24"
        height="24"
        src="https://assets.codepen.io/162656/george-martsoukos-small-logo.svg"
        alt="George Martsoukos logo"
      />
    </a>
  </footer>
</section>

<. include!("../components/footers.html"); .>
