@use './vars';

/*
<style>
  /* RESET RULES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
  :root {
    --page-header-bgColor: #242e42;
    --page-header-bgColor-hover: #1d2636;
    --page-header-txtColor: #dde9f8;
    --page-header-headingColor: #7889a4;
    --page-header-width: 220px;
    --page-content-bgColor: #f0f1f6;
    --page-content-txtColor: #171616;
    --page-content-blockColor: #fff;
    --white: #fff;
    --black: #333;
    --blue: #00b9eb;
    --red: #ec1848;
    --border-radius: 4px;
    --box-shadow: 0 0 10px -2px rgba(0, 0, 0, 0.075);
    --switch-bgLightModeColor: #87cefa;
    --switch-sunColor: gold;
    --switch-moonColor: #f4f4f4;
    --switch-bgDarkModeColor: #1f1f27;
	
  }



  /* HEADER STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.test-button {
	background-color: red;
	z-index: 500;
}
