<footer role="contentinfo" class="details__container">
    <p class="details__copyright"> &copy; mCaptcha developers </p>
  <ul class="details">
    <li class="details__item">
      <a class="details__link" href="<.= crate::PKG_HOMEPAGE .>">Homepage</a>
    </li>
    <li class="details__item">
      <a class="details__link" href="<.= crate::PAGES.about .>">About</a>
    </li>
    <li class="details__item">
      <a class="details__link" href="<.= crate::PAGES.thanks .>">Thanks</a>
    </li>
    <li class="details__item">
      <a class="details__link" href="<.= crate::PAGES.donate .>">Donate</a>
    </li>
    <li class="details__item">
      v<.= crate::VERSION .>-<.= crate::GIT_COMMIT_HASH[0..8] .>
    </li>
  </ul>
</footer>
