<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title><.= PAGE .> | <.= crate::pages::NAME .></title>
    <meta name="referrer" content="no-referrer-when-downgrade" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta
      name="description"
      content="mCaptcha is an AGPL'd, privacy focued, proof-of-work based CAPTCHA System"
    />

    <meta name="author" content="Aravinth Manivannan" />
    <meta name="twitter:card" value="summary_large_image" />
    <meta name="twitter:site" content="@realaravinth" />
    <meta
      name="twitter:title"
      content="<.= PAGE .> | <.= crate::pages::NAME .>"
    />
    <meta
      name="twitter:description"
      content="mCaptcha is an AGPL'd, privacy focued, proof-of-work based CAPTCHA System"
    />
    <meta name="twitter:creator" content="@realaravinth" />
    <meta name="twitter:image" 
          content="<.= crate::FILES.get("./static-assets/img/icon-trans.png").unwrap().>" 
    />

    <meta
      property="og:title"
      content="<.= PAGE .> | <.= crate::pages::NAME .>"
    />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://mcaptcaha.org" />
    <meta property="og:image" 
          content="<.= crate::FILES.get("./static-assets/img/icon-trans.png").unwrap().>"
      />

    <meta
      property="og:description"
      content="mCaptcha is an AGPL'd, privacy focued, proof-of-work based CAPTCHA System"
    />
    <meta property="og:site_name" 
		content="mCaptcha is an AGPL'd, privacy focued, proof-of-work based CAPTCHA System"
	 />

	<. include!("./favicon.html"); .>
  </head>
