/*
 * mCaptcha is a PoW based DoS protection software.
 * This is the frontend web component of the mCaptcha system
 * Copyright © 2023 Aravinth Manivnanan <realaravinth@batsense.net>.
 *
 * Use of this source code is governed by Apache 2.0 or MIT license.
 * You shoud have received a copy of MIT and Apache 2.0 along with
 * this program. If not, see <https://spdx.org/licenses/MIT.html> for
 * MIT or <http://www.apache.org/licenses/LICENSE-2.0> for Apache.
 */

@import "../reset";

.widget__contaienr {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  height: 100%;
}

.widget__noscript-container {
  display: flex;
  font-size: 0.7rem;
  line-height: 20px;
  flex-direction: column;
  padding: 5px;
  box-sizing: border-box;
  height: 100%;
  margin: auto;
}

.widget__noscript-warning {
  display: block;
  margin: auto;
  flex: 2;
  width: 100%;
  margin: auto;
}

.widget__source-code {
  display: block;
  flex: 1;
}

.widget__verification-container {
  align-items: center;
  display: none;
  line-height: 30px;
  font-size: 1rem;
}

.widget__verification-checkbox {
  width: 30px;
  height: 30px;
  margin: 0 10px;
}

#widget__verification-text--during {
  display: none;
}

#widget__verification-text--after {
  display: none;
  color: green;
}

#widget__verification-text--error {
  display: none;
  color: red;
}

.widget__verification-checkbox:checked ~ #widget__verification-text--before {
  display: none;
}

.widget__verification-checkbox:checked ~ #widget__verification-text--during {
  display: none;
}

.widget__verification-checkbox:checked ~ #widget__verification-text--error {
  display: none;
}

.widget__verification-checkbox:checked ~ #widget__verification-text--after {
  display: block;
}

.widget__mcaptcha-details {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: 10px;
}

.widget__mcaptcha-brand-name {
  font-size: 0.7rem;
  font-weight: 600;
  margin: auto;
  text-align: center;
}

.widget__mcaptcha-logo {
  display: block;
  width: 35px;
  margin: auto;
}

.widget__mcaptcha-info-container {
  display: flex;
  margin: auto;
}

.widget__mcaptcha-info-link {
  font-size: 0.5rem;
  margin: 2px;
}
